# Example config for a simple, small simulation
CAVE_FILE=./tmp/cave.json
CAVE_WORLD_FILE=./ros/src/cave_robot_gazebo/worlds/generated/cave.world
CAVE_ROBOT_SDF_FILE=./ros/src/cave_robot_description/urdf/cave_robot.sdf
CAVE_SIZE_X=16
CAVE_SIZE_Y=16
CAVE_SIZE_Z=1
CAVE_SEED=
CAVE_FILL_CONFIDENCE=40
CAVE_WALL_THRESHOLD=6
CAVE_FLOOR_THRESHOLD=1
CAVE_SMOOTH_ITERATIONS=6
CAVE_DEAD_END_PERCENT=1
CAVE_HOLE_PERCENT=1
