CAVE_FILE=./tmp/cave.json
CAVE_WORLD_FILE=./ros/src/cave_robot_gazebo/worlds/generated/cave.world
CAVE_ROBOT_SDF_FILE=./ros/src/cave_robot_description/urdf/cave_robot.sdf
CAVE_SIZE_X=64
CAVE_SIZE_Y=32
CAVE_SIZE_Z=4
CAVE_SEED=1
CAVE_FILL_CONFIDENCE=50
CAVE_WALL_THRESHOLD=6
CAVE_FLOOR_THRESHOLD=3
CAVE_SMOOTH_ITERATIONS=6
CAVE_DEAD_END_COUNT=8
CAVE_HOLE_COUNT=4
